body
{
    display: grid;
    grid-template-rows: 0.2fr 2fr 0.3fr;
    font-family: 'Arial Narrow Bold', sans-serif;

}
header
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* grid-template-rows: auto; */
    padding: 10px;
    padding: 15px;
    color: #ffffff;
    background-color: #041E2A;

}

main
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 10px 0;
}

#results-list
{
    margin-left: auto;
    margin-right: auto;
}
img
{
    height: 100%;
    
}

img.logo
{
    width: 150px;
    height: 55px;
    /* top: 27%; */
    transform: translateY(18%);
    
}

h1{
    top: 50%;

    transform: translateY(-4%);
}
aside
{

    gap: 5px;
    background-color: #ab0e1e;
    color: #ffffff;
    
}

footer
{
    text-align: center;
    padding: 15px;
    color: #ffffff;
    background-color:#041E2A;
    height: 50px;

}
h2
{

    margin-left: 10px;

    font-size: 20px;


}
#show-result-bitton
{
    
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #041E2A;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}

.roundsButton
{
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #041E2A;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}

#show-result-bitton:disabled
{
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #4b4f52;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}

#show-result-bitton:hover:disabled
{
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #4b4f52;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}

#show-result-bitton:active
{
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color:#041E2A;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}

#show-result-bitton:hover
{
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #2C4B59;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}
li{
    margin-left: 10px;

    line-height: 23px;
}

#myLabel
{
    display: Block;
    margin: 10px;
}
#rounds
{
    margin: 10px;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 50%;
}

.chart-container

{
    width: 50vh;
    height: 50vh;
}

#myChat
{
    overflow: hidden;
}

.imageHolder
{
    width: 250px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    border: #041e2a groove 2px;
    margin: 5px;
}



#imageVotes
{
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 0px;
}
#imageVotes img
{
    transition: transform .8s;
}
#imageVotes img:hover
{
    transform: scale(1.5);
}