body
{
    display: grid;
    grid-template-rows: 0.2fr 2fr 0.3fr;
    font-family: 'Arial Narrow Bold', sans-serif;

}
header
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* grid-template-rows: auto; */
    padding: 10px;
    padding: 15px;
    color: #ffffff;
    background-color: #041E2A;

}

main
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 10px;
}

#results-list
{
    margin-left: auto;
    margin-right: auto;
}
img
{

    width: 300px;
    height: 300px;
    

}

img.logo
{
    width: 150px;
    height: 55px;
    /* top: 27%; */
    transform: translateY(18%);
    
}

h1{
    top: 50%;

    transform: translateY(-4%);
}
aside
{
    border: 1px black solid;
    gap: 5px;
    
}

footer
{
    text-align: center;
    padding: 15px;
    color: #ffffff;
    background-color:#041E2A;
    bottom: 0;
}
h2
{

    margin-left: 10px;

    font-size: 20px;


}
#myBtn
{
    
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #041E2A;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}

#myBtn:active
{
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color:#041E2A;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}

#myBtn:hover
{
    text-align: center;
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #2C4B59;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}
li{
    margin-left: 10px;
}